<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="course.project.com.kanpianbao" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/movie"
        android:label="@string/app_name"
        android:logo="@drawable/movie"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/movie" >
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/title_activity_movie_detail" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:label="@string/title_activity_favorite" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderListActivity"
            android:label="订单管理" >
        </activity>
        <activity
            android:name=".OrderDetailActivity"
            android:label="订单详情" >
        </activity>
        <activity
            android:name=".CinemaListActivity"
            android:label="@string/title_activity_cinema_list" >
        </activity>
        <activity
            android:name=".ScreenScheActivity"
            android:label="@string/title_activity_screen_sche" >
        </activity>
        <activity
            android:name=".SeatActivity"
            android:label="@string/title_activity_seat" >
        </activity>
    </application>

</manifest>
